# Merci Facteur
MF_PUB_KEY=your_public_key
MF_SEC_KEY=your_secret_key
MF_SANDBOX=true

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# App
BASE_URL=http://localhost:8000
